<nav class="mobile-navbar">
  <ul>
    <li>
      <%= link_to home_path do %>
        <i class="fas fa-home"></i>
      <% end %>
    </li>
    <li>
      <%= link_to "#" do %>
        <i class="fas fa-calendar"></i>
      <% end %>
    </li>
    <li>
      <%= link_to "#" do %>
        <i class="fas fa-user-friends"></i>
      <% end %>
    </li>
    <li>
      <%= link_to "#" do %>
        <i class="fas fa-cog"></i>
      <% end %>
    </li>
  </ul>
</nav>
