<h1>Map</h1>

<h2>What would you like to do?</h2>

<%= link_to hangout_path() do %>
  <button>Are you around?</button>
<% end %>

<%= link_to hangout_path() do %>
  <button>Schedule hangout</button>
<% end %>
