.mobile-navbar {
  background: lightgrey;
  width: 100vw;
  position: fixed;
  bottom: 0;
  padding: 12px 8px;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;

    li {
      display: inline;
      font-size: 2.5em;

      a {
        color: grey;

        &:hover {
          color: rgb(80, 80, 80);
        }
      }
    }
  }
}
